<div class="card">
    <div class="card-header">
        <h2 class="text-center">Stories</h2>
    </div>
    <div class="card-body">
        <%= render 'shared/search_bar', path: stories_path %>
        <%= render 'stories', obj: @stories %>
        <div class="flickr_pagination mt-3">
            <%= will_paginate @stories, :container => false %>
        </div>
        <% if logged_in? %>
            <%= link_to 'Create a new story', new_story_path, class: "btn btn-primary btn-lg btn-block mt-3" %>
        <% end %>
    </div>
    <%= render 'shared/return_home_footer', obj: nil %>
</div>